@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-size: 62.5%; 
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
textarea {
  font: 1.6rem Montserrat, Helvetica, Arial, sans-serif;
}

.full-width {
  width: 100%;
}

#root {
  height: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #7d7d7d;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

/* .header {
  grid-area: header;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  z-index: 25;
  top: 0;
} */

.brand a {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #8e8e8e, rgb(0, 0, 0), #5e5e5e);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-text-fill-color: #f4f4f46b;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* HEADER-LINKS */

.header-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}

.header-links a:hover {
  color: #a2a2a2;
}

.home-content {
  display: flex;
  flex-wrap: flex;
}

.main-content {
  grid-area: main;
  flex: 3 60rem;
}

/* HOMEPAGE */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 10rem;
  margin: 1rem;
  height: 34rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
}

.product-brand {
  font-size: 1.2rem;
  color: #808080;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.product-image {
  width: 20rem;
  height: 20rem;
}

.product-rating {
  margin-bottom: 1rem;
}

/* REVIEWS */

ul.review {
  list-style-type: none;
  padding: 0;
}

.review li {
  margin: 1rem;
  margin-bottom: 2rem;
}

.review li > div {
  margin: 0.5rem;
}

/* RATING */

.rating span {
  color: #000000;
  font-size: 1.8rem;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}

a > .rating > span:last-child {
  color: #6f6f6f;
}

/* PRODUCT DETAILS */

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 60rem;
}

.details-image img {
  max-width: 60rem;
  width: 100%;
}

.details-info {
  flex: 1 1 30rem;
}

.details-action {
  flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.back-to-results {
  padding: 1rem;
}

.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

/* CART */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #808080 solid;
}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image {
  flex: 1 1;
}

.cart-name {
  flex: 8 1;
}

.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* FORM */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #f0f0f0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}






